
$primary: #3EC2DD;
$text-color: #222222;
$text-color-dark: #424040;
$text-color-light: #222222;
$body-color: #fff;
$border-color: #ACB9C4;
$black: #000;
$white: #fff;
$gray: #e5e8f0 ;

$icon-gray: #ACB9C4;